.git{
    background-color: rgb(206, 204, 204);
}
.navbar{
    background-color: rgb(25, 31, 42);
    height: 100px;
}
.fa{
    margin: 10px;
    color:azure;
}
.col-10{
    padding: 10px 400px;
    color: azure;
    font-size: 40px;
}
.box{
    padding:70px 70px;
}
.box-1{
    height: 700px;
    width:70%;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 25px;
}
#search{
   margin-left: 12.5%;
    padding: 10px;
    align-content: center;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 10px;
    font-size: 25px;
    color:white;
}
.box-2{
    background-color: rgba(0, 0, 0, 0.795);
    margin: 100px 25px;
    padding: 90px 10px;
    width: 100%;
    border-radius: 25px;  
}
.box-3{
    background-color: rgba(0, 0, 0, 0.795);
    margin: 70px 0px 0px 40px;
    padding:90px 10px; 
    width: 100%;
    border-radius: 25px;
}